{% assign image_path = include.src %}
{% assign caption = include.caption %}
{% assign alt = include.alt %}

{% assign starts_with_http = image_path | starts_with: 'http' %}
{% if starts_with_http %}
  {% assign image_path = image_path %}
{% else %}
  {% assign image_path = image_path | post_asset_path | relative_url %}
{% endif %}

<div class="container position-relative popout-md px-0 py-1 py-md-3 py-lg-3 py-xl-5">
  <div class="row">
    <div class="col text-center">
      <img src="{{ image_path }}" class="img-fluid" alt="{{ alt }}">
      {% if caption %}
        <div class="caption py-3 small text-deemphasize">{{ caption }}</div>
      {% endif %}
    </div>
  </div>
</div>
