<div class="lunr-search-group mw-100 position-relative">
  <form class="lunr-search-form input-group">
    <input
      type="search"
      class="lunr-search form-control"
      name="q"
      maxlength="255"
      placeholder="Søk etter artiklar"
      aria-label="Søk etter artiklar"
      autocomplete="off"
    >
    <button class="btn btn-outline-primary" type="submit">Søk</button>
  </form>
  <div
    class="lunr-search-results mt-2 position-absolute top-100 w-100 bg-white border border-gray-300 rounded shadow-lg mw-100 mh-50vh"
    style="z-index: 1000; display: none;"
  ></div>
</div>
