---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url('https://adalinesimonian.github.io/fonts/scandia/styles.css');
@import url('https://fonts.googleapis.com/css2?family=Sarala&family=IBM+Plex+Sans&family=IBM+Plex+Mono&family=Lora&display=swap');

// Theme colours

$theme-colors: (
  'primary': #27a7b0,
  'secondary': #8eb6b9,
  'success': #4caf50,
  'info': #00bcd4,
  'warning': #ff9800,
  'danger': #f44336,
  'light': #f5f5f5,
  'dark': #212121,
);

.bg-darker {
  background-color: #1b1b1b !important;
}

.bg-dark-card {
  background-color: #ccc !important;
}

.text-deemphasize {
  opacity: 0.6;
}

@import 'bootstrap';

$font-family-content: 'IBM Plex Sans', 'Helvetica Neue', Helvetica, Arial,
  sans-serif;
$font-family-headers: 'ScandiaWebBold', 'Sarala', sans-serif;

body,
html {
  font-family: $font-family-content;
}

.page-heading,
.navbar-brand,
.display-5 {
  font-family: $font-family-headers;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.popout {
  width: 120%;
  margin-left: -10%;
}

.bg-dark main a:not(.btn),
.bg-darker main a:not(.btn),
main .bg-dark a:not(.btn),
main .bg-darker a:not(.btn),
main.bg-dark a:not(.btn),
main.bg-darker a:not(.btn) {
  color: #27a7b0;
  &:hover {
    color: #238f97;
  }
}

.bg-white main a:not(.btn),
main .bg-white a:not(.btn),
main.bg-white a:not(.btn),
main .bg-dark-card a:not(.btn) {
  color: #238f97;
  &:hover {
    color: #27a7b0;
  }
}

.post-content,
.post-summary {
  font-size: 1.05em;
}

.post-content ol,
.post-content ul {
  padding-left: 1.5em;
  margin-bottom: 1.5em;
}

.post-content ol {
  list-style-type: decimal;
}

.post-content ul {
  list-style-type: disc;
}

.post-content ol ol,
.post-content ul ul,
.post-content ol ul,
.post-content ul ol {
  margin-top: 0;
  margin-bottom: 0;
}

.post-content li:not(:last-child) {
  margin-bottom: 0.5em;
}

.post-content blockquote {
  border-left: 5px solid #27a7b0;
  padding-left: 1em;
  margin-left: 0;
  margin-right: 0;
  color: #aaa;
  margin-top: 2em;
  margin-bottom: 2em;
}

.mw-md-md {
  max-width: 720px !important;
}

$sizes: (
  25: 25%,
  33: 33.333333%,
  50: 50%,
  66: 66.666667%,
  75: 75%,
  100: 100%,

  25vh: 25vh,
  33vh: 33.333333vh,
  50vh: 50vh,
  66vh: 66.666667vh,
  75vh: 75vh,
  100vh: 100vh,

  25vw: 25vw,
  33vw: 33.333333vw,
  50vw: 50vw,
  66vw: 66.666667vw,
  75vw: 75vw,
  100vw: 100vw,

  auto: auto,
);

@each $size, $length in $sizes {
  .mw-#{$size} {
    max-width: $length !important;
  }
  .mh-#{$size} {
    max-height: $length !important;
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  .popout-#{$breakpoint}-large {
    @include media-breakpoint-up($breakpoint) {
      width: 140%;
      margin-left: -20%;
    }
  }
  .popout-#{$breakpoint}-medium {
    @include media-breakpoint-up($breakpoint) {
      width: 125%;
      margin-left: -12.5%;
    }
  }
  @each $size, $length in $sizes {
    @include media-breakpoint-up($breakpoint) {
      .w-#{$breakpoint}-#{$size} {
        width: $length !important;
      }
      .mw-#{$breakpoint}-#{$size} {
        max-width: $length !important;
      }
    }
  }
}
