---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- include post-byline.html author=page.author date=page.date updated=page.updated -%}
    </p>

    {%- if page.summary -%}
      <p class="post-summary" itemprop="description">{{ page.summary | escape }}</p>
    {%- endif -%}
  </header>

  <div class="container position-relative popout-md px-0 py-1 py-md-3 py-lg-3 py-xl-5 text-center">
    <img
      class="u-featured img-fluid"
      src="{{ page.image | default: '/assets/img/card-image-placeholder.png' | relative_url }}"
      alt=""
    >
  </div>

  <div itemprop="articleBody" class="post-content e-content">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
